<!DOCTYPE html>
<html>
<head>
    <title>Film Chat Room</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/chat.css">
</head>
<body>
<h1>Film Chat Room</h1>
<!-- Contenuti specifici del film -->

<!-- Integrare il codice della chat qui -->
{{> chat}}

</body>
</html>