<!DOCTYPE html>
<html>
<head>
    <title>Film Chat Room</title>
    <link rel="stylesheet" href="/css/chat.css">
</head>
<body>
<h1>Film Chat Room</h1>
<!-- Contenuti specifici del film -->

<!-- Integrare il codice della chat qui -->
{{> chat}}

<script>
    if (!window.chatJsLoaded) {
        var script = document.createElement('script');
        script.src = '/js/chat.js';
        document.body.appendChild(script);
        window.chatJsLoaded = true;
    }
</script>
</body>
</html>